<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.onetachi">
    <!-- 인터넷 연결 허용하는 퍼미션 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.onetachi.auth.paperListActivity"></activity>
        <activity android:name="com.example.onetachi.auth.paperFailureActivity" />
        <activity android:name=".QR.ScanQR" />
        <activity android:name=".QR.CaptureForm" />
        <activity android:name=".QR.CreateQR" />
        <activity android:name="com.example.onetachi.auth.paperSuccessActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
            android:value="true" />

        <activity android:name="com.example.onetachi.user.signupActivity" />
        <activity android:name="com.example.onetachi.user.loginedActivity" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>